# gradle
.gradle/
build/
out/
classes/
logs/

# idea
.idea/
*.iml
*.ipr
*.iws

# eclipse
.settings/
target/

# vscode
.vscode/
bin/
.classpath
.project

# project
bobrust.properties
hs_err_pid*.log
button_config.json
